 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

/*Temporary Styles for structural HTML*/

*{
    padding: 0.5rem;
    border: 2px solid rgb(225,225,225)
}

body {
    border:none;
}
html {
    border:none;
}

/* Image Styles*/

.bg-image {
    background-image: url(images/sleep-co-1.jpg);
    background-size: cover;
    min-height: 18rem;

    /* Unsiversal Styles and Utility classes*/

.padded {padding:5%;}
.padded-sm {padding: 1rem;}

.bg-dark {
    background-color: #192B37;
    color:white;
}

